	/* Font */
	/*@font-face {
		font-family: Roboto;
		src: url('../../asset/font/roboto/Roboto-Regular.ttf');
	}*/
	* {
	    font-family: Calibri;
	}
	/* /. Font */
	/* Loading */
	.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(../../images/privilege/spin.gif)  center no-repeat #fff;
	}
	/* /. Loading */

	.login-page {
		background-image: url('{{asset('assets/images/privilege/boxed-bg.jpg')}}') !important;
	}

	.skin-blue .main-header .navbar {
	  background-color: #00a65a !important;
	}
	.skin-blue .main-header .logo {
	  background-color: #00a65a !important;
	}

	.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	    z-index: 3;
	    color: #fff;
	    cursor: default;
	    background-color: #00a65a !important;
	    border-color: #00a65a !important;
	}	

	div#DataTables_Table_0_filter input {
	    padding: 17px;
	    width: 250px;
	    border-radius: 3px;
	    margin-left: 10px;
	}
	div#DataTables_Table_0_filter {
	    float: right;
	}
	ul.pagination {
	    float: right;
	    margin-top: -10px;
	}
	div#DataTables_Table_0_info {
	    margin-top: 3px;
	}	

	@media (min-width: 992px) {
	  .modal-lg {
	    width: 800px;
	  }
	}	