.no-padding{ padding:0; }
.no-margin{ margin:0; }
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a{color:white;background:transparent;}
.nav-tabs-custom>.nav-tabs>li.active { background: #f39c12; color:white; border:0px;    padding: 1px;}
.nav-tabs-custom>.nav-tabs>li:hover { background: #f39c12; color:white; border:0px;pa}
.nav-tabs-custom>.nav-tabs>li>a:hover { color: white;}
.nav-tabs-custom>.nav-tabs>li.active>a { border:0px;}
.nav-tabs-custom>.nav-tabs>li { border:0px; text-align: center;margin: 0; }
.nav-tabs-custom { margin: 0px; background: #fff; box-shadow: 0 1px 1px rgba(0,0,0,0.1); border-radius: 3px;}
.bg-primary {background-color: #f39c12;}
.bg-warning {background-color: #f39c12; color: white;}
.table-message { color: #ccc; float: left; width: 80px; }
html, body {height: 100%;margin: 0;padding: 0;}
ul.show-autocomplete {list-style: none;padding: 0;margin: 0;}
ul.show-autocomplete li {padding: 8px;border-bottom: 1px solid #eee;}
ul.show-autocomplete a {color: #000;}
ul.show-autocomplete li:hover { background-color: #eee; }
#map {height: 100%;}
#pac-input {background-color: #fff;font-family: Roboto;font-size: 15px;font-weight: 300;margin-left: 12px;padding: 0 11px 0 13px;text-overflow: ellipsis;width: 300px;}
#pac-input:focus {border-color: #4d90fe;}
#target {width: 345px;}
#type-selector {color: #fff;background-color: #4d90fe;padding: 5px 11px 0px 11px;}
#type-selector label {font-family: Roboto;font-size: 13px;font-weight: 300;}
.chart {width: 100%; height: 300px;}
.autocomplete {background-color: #fff;padding: 10px;position: absolute;height: 110px;border: 1px solid #ddd;z-index: 5;width: 94%;display: none;}
.popup {position: fixed;top: 0;right: 0;left: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 2;display: none;}
.window {background-color: #fff;width: 60%;min-height: 200px;position: absolute;margin: 10% 20% 0 20%;z-index: 10;}
.close-btn {float: right;font-size: 20px;padding: 10px;color: red;}
.close-btn:hover { cursor: pointer; }
.header-message {padding: 10px;background-color: #333;color: #fff;}
.subject-message, .sender-message {padding: 10px;border-bottom: 1px solid #eee;}
.body-message {padding: 10px;    max-height: 350px;
    overflow-y: auto;overflow-x: hidden;}
.glyphicon.glyphicon-remove {float: right;}
.glyphicon.glyphicon-remove:hover { cursor: pointer; }
.show-result {position: absolute;background-color: #fff;height: auto;width: 92.5%;z-index: 4;margin-top: -15px;border: 1px solid #ddd;display: none;}
.body-maps { position:relative;height:400px;with:100%; }
.controls {margin-top: 10px;border: 1px solid transparent;border-radius: 2px 0 0 2px;box-sizing: border-box;-moz-box-sizing: border-box;height: 32px;outline: none;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);}
.pac-container {font-family: Roboto;}
.overflow-auto {overflow-x:auto;}
@media (max-width: 768px)
{
	.btn-xs-block.xs-top { margin-top: 10px;}
    .no-margin-left_ {margin-left:0px!important; }
	.col-xs-1.btn-xs-block,.col-xs-2.btn-xs-block,.col-xs-3.btn-xs-block,.col-xs-4.btn-xs-block,
	.col-xs-5.btn-xs-block,.col-xs-6.btn-xs-block,.col-xs-7.btn-xs-block,.col-xs-8.btn-xs-block,
	.col-xs-9.btn-xs-block,.col-xs-10.btn-xs-block,.col-xs-11.btn-xs-block,.col-xs-12.btn-xs-block,.btn-xs-block
	{
		width: 100%;
	}
	.no-margin-left {margin-left:20px; }
	.none { display: none; }
    .responsive-none { display: none; }
}
@media (min-width: 768px)
{
	.overflow-auto {overflow-x:hidden;}
}
@media (max-width: 1024px)
{
    .no-margin-left_ {margin-left:-20px!important; }
    .body-maps { position:relative;height:500px;with:100%; }
    .image-user,.list-biodata  {padding: 0;}
    #length-change { margin:0!important; }
}
@media (min-width: 1280px)
{
    .body-maps { position: relative;height: 600px;width: 100%; }
}
@media (min-width: 1500px)
{
    .body-maps { position: relative;height: 800px;width: 100%; }
}
@media (min-width: 2560px)
{
    .body-maps { position: relative;height: 1080px;width: 100%; }   
}

/*My Custom CSS*/
.box-header.header-tittle {background-color: #f39c12;color: #fff;padding: 8px 15px;font-weight: 600;font-size: 18px;}
.no-padding-left {padding-left: 0px;margin-bottom: 20px;}
#DataTables_Table_0_filter input,input.form-control.input-sm {padding: 17px;width: 250px;border-radius: 3px;margin-left: 10px;}
#DataTables_Table_0_filter {float: right;}
#DataTables_Table_0_info {margin-top: 3px;}

/* .clr-primary { background-color: #f39c12;color:#fff;    height: 50px;} */
.clr-primary { background-color: #f39c12;color:#fff;    height: 50px;}
.clr-theme { background-color: #f39c12;color:#fff;    height: 50px;}
.clr-warning { background-color: #f39c12;color:#fff;    height: 50px;}

.body-to {/*background-color: #eee;color: #636363;*/padding-left: 10px;border-bottom: 1px solid #eee;}
.penerima {border: none;outline: none;padding: 10px;margin-left: -20px;}
.text-middle {margin-top: 6px;margin-left: 5px;}
.pesan {outline: none;border:none;padding: 0;padding-top: 8px;}
.padding-sm-left {padding-left: 10px;}
.pull-left.no-margin-left {margin-left: -15px;}
.padding-xs {font-size: 15px;}
.btn-sm.sm-top {margin-top: -5px;}
.maps-height {height: 500px;}
td.dataTables_empty {
    text-align: center;
}
.sm-left { margin-left: -20px; }
.glyphicon-remove {padding-top:4px;padding-bottom:4px;}
.legend {padding-top:15px;padding-bottom: 15px;padding-right: 15px; padding-left: 5px;list-style: none;background-color: #fff;}
.legend li img {max-width: 40px;}
span.info-box-text.small-font {font-size: 13px;}
div#serach-pelacakan {margin-top: 9px;}
.title-lagend {background-color: #f39c12;padding: 10px;margin: 0;color: #fff;}
div#lagend-maps {box-shadow: 0px 0px 10px #9c9999;margin-left: 10px;}
.image-user,.list-biodata {padding: 20px;    margin: 30px 25px;}
.image-user img {max-width: 200px;}
text {font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 12\xzpx;font-weight: 600;}
.form-action {width: 100%;margin-left: 20px;margin-top: 10px;}
.canvas-filter {
    background-color: #fff;
    margin-top: 110px;
    margin-right: 15px;
    position: absolute;
    z-index: 99999;
    right: 20px;
}
select#filter, select#second-filter {font-family: Roboto,Arial,sans-serif;font-size: 12px;}
.title-filter {
    padding: 10px;
    background-color: #f39c12;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 500;
}
.title-group {
    padding: 10px;
    background-color: #f39c12;
    margin: 10px;
    color: #fff;
    width: 99%;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}
.alert-warning {
    color: #8a6d3b!important;
    background-color: #fcf8e3!important;
    border-color: #faebcc!important;
}
.modal {
    overflow: auto !important;
}
.modal-body img {
    width: 100%;
    height: auto;
}/*End Code*/
.wickedpicker {
    z-index: 999999999999999;
}
.show-window-image img {
    width: 100%;
}
.show-window-image {
    width: 150px;
    text-align: center;
}
.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ {
    z-index: 99999999999;
}
.title-info {
    background-color: #f39c12;
    padding: 5px;
    color: #fff;
    width: 100%;
}
.canvas-tab-maps {
    width: 155px;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    right: 30px;
    margin-top: 20px;
    font-size: 11px;
    font-family: Roboto, Arial, sans-serif;
}
.btn-tab-maps {
    display: inline;
    padding: 10px;
    height: 20px;
    background-color: #fff;
    border-radius: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
}
.btn-all {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
.btn-tab-maps:hover { cursor: pointer;background-color: #eee; }
.btn-petugas {
    margin-left: -5px;
    border-right: 1px solid #eee;
    border-radius: 0;
}
.btn-laporan {
    margin-left: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.body-filter {
    padding: 8px;
}
.border-bottom {
    border-bottom: 3px solid #f39c12;
    padding-top: 10px;
    margin-bottom: 5px;
}
.auto-search {
    padding: 7px;
    border: 1px solid #d2d6de;
    border-radius: 3px;
    width: 300px;
}
.form-serach {
    margin-bottom: 15px;
}
.btn.btn-primary {
    background-color: #2b98d8;
}
.input-date {
    width: 95px;
    display: inline;
    margin-right: 5px;
    height: 30px;
    font-family: inherit;
    font-weight: 600;
    font-size: 13px;
}
div#filter-tanggal {
    margin-right: 40px;
    margin-top: 10px;
}
input#date {
    font-family: inherit;
    font-weight: 600;
    font-size: 13px;
}
.box-profil-footer {
    width: 350px;
    margin: 10px auto;
}
ul.list-group.list-group-unbordered {
    width: 350px;
    margin:20px auto;
}
/*.show-window-image {
    width: 150px;
}
.show-window-image img { width: 100%; }
.gm-style-iw {left: 0!important;top: 0!important;}
.header-infowindows {
    position: absolute;
    background-color: #f39c12;
    padding: 5px;
    color: #fff;
    box-shadow: 1px 1px 2px #828282;
}*/

ul.reply-message {
    float: none;
    text-align: left;
    list-style: none;
    padding: 0;
}
.canvas-comment {
    border: 1px solid #f1f1f1;
    padding: 8px;
}
.nama-comment {
    font-size: 14px;
    font-weight: bold;
}


/* Font */
	@font-face {
		font-family: roboto;
		src: url(../font/roboto/Roboto-Regular.ttf)
	}
	
	*{
		font-family : roboto;
	}
/* /. Font */

/* Input */
	.required {
		border: 1px solid red;
	}
	.success {
		border: 1px solid green;
	}
	.border-radius {
		border-radius: 3px !important;
	}
	.color-red {
		color: red !important;
	}
	.color-green {
		color: green !important;
	}
	.none {
		display: none !important;
	}
/* /. Input */

/* Loading */
	.se-pre-con {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 99;
		background: url(../img/spin.gif) center no-repeat #fff;
	}
/* /. Loading */

.margin-top-10{
    margin-top: 120px;
}
.select-large{
    width: 30%;
    height: 45px;
}
.select-large-2{
    height: 45px;
}
.btn-mod{
    width: 25%; margin-top: 15px;   
}
.cur-point{
    cursor: pointer;
}
